policy_module(rupx, 1.100.1)

########################################
#
# Declarations
#

type rupx_t;
type rupx_exec_t;
init_daemon_domain(rupx_t, rupx_exec_t)

permissive rupx_t;

type rupx_initrc_exec_t;
init_script_file(rupx_initrc_exec_t)

type rupx_conf_t;
files_type(rupx_conf_t)

type rupx_var_lib_t;
files_type(rupx_var_lib_t)

type rupx_var_run_t;
files_type(rupx_var_run_t)

type rupx_port_t;
corenet_port(rupx_port_t)

########################################
#
# rupx local policy
#
allow rupx_t self:process { fork };

allow rupx_t self:fifo_file rw_fifo_file_perms;
allow rupx_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(rupx_t, rupx_conf_t, rupx_conf_t)
manage_files_pattern(rupx_t, rupx_conf_t, rupx_conf_t)

manage_dirs_pattern(rupx_t, rupx_var_lib_t, rupx_var_lib_t)
manage_files_pattern(rupx_t, rupx_var_lib_t, rupx_var_lib_t)
files_var_lib_filetrans(rupx_t, rupx_var_lib_t, { dir file })

manage_dirs_pattern(rupx_t, rupx_var_run_t, rupx_var_run_t)
manage_files_pattern(rupx_t, rupx_var_run_t, rupx_var_run_t)

sysnet_dns_name_resolve(rupx_t)
corenet_all_recvfrom_unlabeled(rupx_t)

allow rupx_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(rupx_t)
corenet_tcp_sendrecv_generic_node(rupx_t)
corenet_tcp_sendrecv_all_ports(rupx_t)
corenet_tcp_bind_generic_node(rupx_t)

gen_require(`
    type rupx_port_t;
')
allow rupx_t rupx_port_t:tcp_socket name_bind;

gen_require(`
    type rupx_port_t;
')
allow rupx_t rupx_port_t:tcp_socket name_connect;

domain_use_interactive_fds(rupx_t)

files_read_etc_files(rupx_t)

miscfiles_read_localization(rupx_t)

sysnet_dns_name_resolve(rupx_t)

allow rupx_t rupx_exec_t:file execute_no_trans;
allow rupx_t self:process setsched;
corecmd_exec_ls(rupx_t)
corenet_tcp_connect_http_port(rupx_t)
dev_read_urand(rupx_t)
fs_getattr_xattr_fs(rupx_t)
kernel_read_system_state(rupx_t)
