# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Rupaya Core
Comment=Rupaya Core QT test network
GenericName=Rupaya Digital Currency QT client testnet network
Exec=rupaya-core.qt-testnet %u
Terminal=false
Type=Application
Icon=${SNAP}/share/pixmaps/rupx_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;rupx;rupx;trupx;core;wallet;qt;testnet;snap;launchpad;crypto;digital;currency;coin;token;rupx;
Version=1.0
