# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=Rupaya Core Daemon SNAP
Comment=testnet
GenericName=Rupaya Digital Currency Daemon Client testnet network
Exec=rupaya-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/rupx_testnet.png
MimeType=x-scheme-handler/piv;
Categories=X-Office;X-Finance;
Keywords=internet;rupx;rupx;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;rupx;
Version=1.0
